{% extends "base/base.html" %} {% block content %}
<h2 style="margin-top: 1.5rem">Add Item</h2>
<form action="add_todo/" method="POST">
  {% csrf_token %}
  <div class="input-group flex-nowrap">
    <input
      type="text"
      class="form-control"
      placeholder="type here..."
      name="content"
    />
  </div>
  <div class="col-auto">
    <button
      style="margin-top: 0.5rem"
      type="submit"
      class="btn btn-primary mb-3"
    >
      Add
    </button>
  </div>
</form>
<div class="row mt-4">
  <div class="col">
    <ul class="list-group ">
      {% for list in todo_list %}
      <div class="d-flex justify-content-between">
      <li class="list-group-item border border-0">
        {{list.text}}
      </li>
      <form method="POST" action="delete_todo/{{list.id}}">
        {% csrf_token %}
        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
      </form>
    </div>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock content %}
