{% extends "base/base.html" %} {% block content %}
<h2 style="margin-top: 1.5rem">Add Item</h2>
<form action="add_todo/" method="POST">
  {% csrf_token %}
  <div class="input-group flex-nowrap">
    <input
      type="text"
      class="form-control"
      placeholder="type here..."
      name="content"
    />
  </div>
  <div class="col-auto">
    <button
      style="margin-top: 0.5rem"
      type="submit"
      class="btn btn-primary mb-3"
    >
      Add
    </button>
  </div>
</form>
<div class="row">
  <div class="col">
    <ul class="list-group">
      {% for list in todo_list %}
      <li class="list-group-item">{{list.text}}</li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock content %}
